.first-layer {
    height: 690px;
    position: absolute;
}
.first-div {
  .test {
    color: blue;
    font-size: 24px;
  }
}

.layer{
    width: 1366px;
    height: 992px;
    position: absolute;
    left: 0;
    top: 0;
}

.logo{
    width: 114px;
    height: 40px;
    position: absolute;
    left: 213px;
    top: 15px;
}

.options{
    width: 340px;
    height: 15px;
    position: absolute;
    left: 816px;
    top: 30px;
    p {
        color: white;
        display: inline;
        padding: 5px;
        .log-in {
            font-weight:bold;
        }
    }
    p:hover {
        border-bottom: 1px solid red;
    }
}

.carousel-inner .carousel {
    position: absolute;
    left: 451px;
    top: 193px;
}

.item {
    color: white;
    left: 451px;
    top: 193px;
}

.btn {
    position: absolute;
    top: 340px;
    left: 520px;
    height: 40px;
    width: 200px;
    background-color: red;
    color: white;
}

.quote {
    position: absolute;
    top: 700px;
    width: 1366px;
    height: 200px;
    display: inline;
    p{
        display: inline;
        color: white;
    }
}

.quote_picture {
    display: inline;
    
    padding-left: 307px;
}
