html, body {
    margin: 0;
    padding: 0
    height:100%;

    /*Added by me*/
    font-family: Verdana;
    font-size: 16px;
    color: rgba(76, 76, 75, 0.75);
    text-align: center;
}

a {
    color: #000000;
    text-decoration: none;
}

ol, ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
}


/*Common elements*/


.calendis-icon {
    float: left;
    margin-top: 7px;
    height: 35px;
}

.register-button {
    /*The whole line is clickable!*/
    margin: 0 auto;
    margin-top: 70px;
    height: 42px;
    width: 200px;
    border-radius: 3px;
    background-color: #ec2d2b;
}

.register-button:hover {
    background-color: darkred;
}

.register-button p{
    padding-top: 10px;
    color:white;
    font-weight: bold;
}

.white-paragraph{
    display: inline-block;
    padding-top: 76px;
    color:white;
    font-size: 18px;
}

.section-header {
    padding-top: 100px;
    margin-bottom: 70px;
}

.section-header p {
    color:#4c4c4b;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 9px;
}

.section-header div {
    /*why you no can define it only here???*/
    margin: auto;
    border-radius: 3px;
    width: 50px;
    height: 5px;
    background-color: #ec2d2b;
}

.dark-grey-text {
    display: inline-block;
    color:#4c4c4b;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

#middle-section {
    display: inline-block;
    width: 70%;
}

/*Top navigation section*/


.top-navigation {
    position: fixed; /* this is why the backgound image gets under it!*/
    z-index: 1;  /*this keeps the navigation on top, after image is darkened with filter */
    width: 100%;
}

#red-line {
    height:5px;
    background-color: #ec2d2b;
}

#grey-line {
    height: 55px;
    background: rgba(0, 0, 0, 0.5);
}   

#middle-section ul {
    float: right;
    margin-top: 19px;
}

#middle-section ul li {
    display: inline;
    margin-left: 20px;
}

#middle-section ul li a {
    padding-bottom: 10px;
    color: white;
}

#middle-section ul li a:hover {
    border-bottom: 3px solid #ec2d2b;
}


/*Home section*/


.home-section {
    background-image: url(../images/100000.jpg);
    width: 100%;
    height:692px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: grey;
    background-attachment: fixed; /* this fixes images on scroll for cool effect */
}

#home-header {
    padding-top: 193px;
    color:white;
    font-size: 48px;
}

#trapezoid {
    margin-top: 130px;
    width: 100%;
    height: 200px;
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 75%);
    background: rgba(0, 0, 0, 0.5);
}

#white-quote-icon {
    display: inline-block;
}

#white-triangle {
    margin-top: -50px;
    width: 100%;
    height: 50px;
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    background-color: white;
}


/*Benefits section*/


#benefit-table {
    margin: 0 auto; /* this centers it because it doesnt know it's suppose to be centered...*/
    border-collapse: collapse; /* without this, the horizontal line does not appear at all? */
    width: 840px;
    height: 431px;
    table-layout: fixed; /* this makes it aligned with title, not adjusted to it's text width. */
    margin-bottom: 50px;
}

#benefit-table tr:first-child {
    border-bottom: 1px solid rgba(43, 44, 43, 0.25);
    vertical-align: top;
}

#benefit-table tr:last-child {
    vertical-align: bottom;
}

#benefit-table tr td:first-child {
    border-right: 1px solid rgba(43, 44, 43, 0.25);
} 

#grey-rectangle {   
    margin-top: 70px;
    height: 220px;
    background-color: #2b2b2b;
}


/*Client section*/


.client-section {
    height: 370px;
    width: 100%;
    background-color: rgba(44, 44, 44, 0.07);
}

.client-logos {
    height: 81px;
    padding-left: 20px;
    padding-right: 20px;
}


/*Price section*/


#price-table{
    height: 490px;
    width: 554px;
    margin: 0 auto;
    border-spacing: 0px;
}

#price-table tr td {
    border-radius: 3px;
    border: 1px solid rgba(43, 44, 43, 0.25);
    background-repeat: no-repeat;
    background-position: center 30px;
}

#price-table tr td:hover {
    border: 2px solid #ec2d2b;
}

#price-table tr td:first-child {
    background-image: url(../images/Calendis_House_Inactive.png);
}

#price-table tr td:first-child:hover {
    background-image: url(../images/Calendis_House_Active.png);
}

#price-table tr td:last-child {
    background-image: url(../images/Calendis_Building_Inactive.png);
}

#price-table tr td:last-child:hover {
    background-image: url(../images/Calendis_Building_Active.png);
}

#price-table p {
    margin-top: 70px;
    margin-bottom: 40px;
    color:#2c2c2c;
    font-size: 24px;
    font-weight: bold;
}

.red-text {
    display: inline;
    margin-bottom: 20px;
    color: #ec2d2b;
    font-size: 30px;
    font-weight: bold;
}

#price-comment-text {
    padding-top: 20px;
    font-size: 12px;
    color:#4c4c4b;
}


/*Footer section*/


#footer-section {
    margin-top: 100px;
    height: 192px;
    background-color: #2b2b2b;
    font-size: 12px;
    color:grey;
}

#footer-section ul {
    width: 70%;
    margin: 0 auto;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;

}

#footer-section ul li{
    display: inline-block;
    vertical-align: top;
    /*margin-left: 2%;*/
    margin-right: 2%;
}

#footer-section ul li a {
    color: grey;
    padding: 20px;
}

#footer-section ul li a:hover {
    color: white;
}

.contact-icons {
    width: 13px;
    height: 13px;
    padding-left: 20px;
}

#social-icons a {
    display: inline-block;
    background-repeat: no-repeat;
}

#social-icons a:first-child {
    background-image: url(../images/fb-gri.png);
}

#social-icons a:first-child:hover {
    background-image: url(../images/fb-alb.png);
}

#social-icons a:nth-child(2) {
    background-image: url(../images/tw-gri.png);
}

#social-icons a:nth-child(2):hover {
    background-image: url(../images/tw-alb.png);
}

#social-icons a:last-child {
    background-image: url(../images/in-gri.png);
}

#social-icons a:last-child:hover {
    background-image: url(../images/in-alb.png);
}