
/*Navigation bar*/
.navigation-wrapper {
	height: 350px;
  background-image: url("../images/music1.jpg");
}
.navigation-wrapper table, td, th, tr{
  /*display: inline;*/
  /*border: 1px solid black;*/
  padding: 5px;
}
table{
	border-spacing: 15px;
	padding-top: 100px;
	align-self: center;
}
th{
	height: 60px;
	background-color: #4CAF50;
	color: black;
}
tr:nth-child(even){background-color: #f2f2f2}
